.container {
  display: flex;
  gap: 10px;
  background-color: #ffffff;
  border-radius: 10px;
}

/*   gap: 2rem; */

.link {
  color: #333; /* Темний колір для гарного контрасту на білому фоні */
  text-decoration: none;
  font-size: 18px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  position: relative;
}

/* font-size: 25px; */

.link::before {
  margin-left: auto;
}

.link::after,
.link::before {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  transition: 0.5s;
}

.link:hover::after,
.link:hover::before {
  width: 100%;
}

.active {
  color: #f44336;
}

@media screen and (min-width: 650px) {
  .container {
    gap: 2rem;
  }
  .link {
    font-size: 25px;
  }
}
